# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data (keep small samples only if you want)
data/raw/*.parquet
data/processed/*.parquet

# Reports
reports/figures/*.svg
